.file__client-name{
    font-size: clamp(1rem,1.5vw + 1rem , 3rem);
    margin-bottom: .1rem;
    margin-left: 1rem;
}

.custom__table-file{
    max-height: 500px;
    max-width: 1200px;
    overflow: scroll;
}